@using WorkoutPlanner.Data.Entities
@model WorkoutPlanner.Data.Entities.Program

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Program</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProfileId"/>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Difficulty" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Difficulty" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Difficulty))"></select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Week</p>
            </th>
            <th>
                <p>Day</p>
            </th>
            <th>
                <p>Workout Name</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkoutPlans)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Week)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    <a asp-controller="Workout" asp-action="Details" asp-route-id="@item.WorkoutId">@Html.DisplayFor(modelItem => item.Workout.Name)</a>
                </td>
                <td>
                    <a asp-action="DeleteWorkoutplan" asp-route-id="@item.Id" asp-route-programid="@item.ProgramId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="AddWorkout" asp-controller="Programs" asp-route-programId="@Model.Id">

    @{var workoutId = 0;}

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Workout:</label>
            <div class="col-md-10">
                <select asp-for="@workoutId" asp-items="@(new SelectList(ViewBag.Workouts, "Id", "Name"))"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Week:</label>
            <div class="col-md-10">
                <input name="week" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Day of week:</label>
            <div class="col-md-10">
                <select name="dayOfWeek" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(DayOfWeek))"></select>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Exercise" class="btn btn-default" />
        </div>
    </div>


</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

