@using WorkoutPlanner.Data.Entities
@model WorkoutPlanner.Data.Entities.WorkoutRating

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkoutRating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
