@using WorkoutPlanner.Data.Entities
@model WorkoutPlanner.MVC.Models.AuthProfileViewModels.WorkoutAuthViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Workout.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Name)
        </dd>
        <dt>
            Workout created by:
        </dt>
        <dd>
            <a asp-controller="Profiles" asp-action="Details" asp-route-id="@Model.Workout.ProfileId">@Html.DisplayFor(model => model.Workout.Profile.Name)</a>
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Exercises</p>
            </th>
            <th>
                <p>Weight</p>
            </th>
            <th>
                <p>Reps</p>
            </th>
            <th>
                <p>Sets</p>
            </th>
            <th>
                <p>Minutes</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workout.Exercises)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercise.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Minutes)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @if (Model.IsAuthor)
    {
        <a asp-action="Edit" asp-route-id="@Model.Workout.Id">Edit</a>
    }    
    <a asp-action="Index">All workouts</a>
</div>
