@using WorkoutPlanner.Data.Entities
@model IEnumerable<WorkoutPlanner.MVC.Models.AuthProfileViewModels.WorkoutAuthViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Workout.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workout.Profile.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.Profile.Name)
            </td>
            <td>
                @if (item.IsAuthor)
                {
                    <a asp-action="Edit" asp-route-id="@item.Workout.Id">Edit</a>
                }               
                <a asp-action="Details" asp-route-id="@item.Workout.Id">Details</a> |
                @if (item.IsAuthor)
                {
                    <a asp-action="Delete" asp-route-id="@item.Workout.Id">Delete</a>
                }    
            </td>
        </tr>
}
    </tbody>
</table>
