@using WorkoutPlanner.Data.Entities
@model WorkoutPlanner.MVC.Models.AuthProfileViewModels.ExerciseAuthViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.Instructions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise.Instructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.Video)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Exercise.Video))
            {
                <a href="@Model.Exercise.Video" target="_blank">Instructional Video</a>
            }  
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.Profile.Name)
        </dt>
        <dd>
            <a asp-controller="Profiles" asp-action="Details" asp-route-id="@Model.Exercise.ProfileId">@Html.DisplayFor(model => model.Exercise.Profile.Name)</a>
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsAuthor)
    {
        <a asp-action="Edit" asp-route-id="@Model.Exercise.Id">Edit</a> 
    }    
    | <a asp-action="Index">Back to List</a>
    | <a asp-controller="ExerciseRatings" asp-action="Create">Add Review</a>
</div>
