@using WorkoutPlanner.Data.Entities
@model IEnumerable<WorkoutPlanner.MVC.Models.AuthProfileViewModels.ExerciseAuthViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Exercise.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exercise.Instructions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exercise.Video)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exercise.Profile.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Instructions)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Exercise.Video))
                {
                    <a href="@item.Exercise.Video" target="_blank">Instructional Video</a>
                }                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Profile.Name)
            </td>
            <td>
                @if (item.IsAuthor)
                {
                    <a asp-action="Edit" asp-route-id="@item.Exercise.Id">Edit |</a> 
                }
                
                <a asp-action="Details" asp-route-id="@item.Exercise.Id">Details</a>
                @if (item.IsAuthor)
                {
                    <a asp-action="Delete" asp-route-id="@item.Exercise.Id">| Delete</a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
